#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*
  .email-content is intentionally removed.
  HTML emails are now rendered inside a sandboxed <iframe> in EmailView.tsx.
  The iframe has its own minimal reset injected at writetime so the emails
  own inline styles, fonts, tables, and images are never overridden by my css
*/

/* design system for potentially liquid glass components */
.glass {
  --glass-bg: color-mix(in oklab, rgba(255, 255, 255, 0.15) 80%, transparent);
  --glass-border: color-mix(in oklab, var(--glass-bg) 70%, white);
  border: var(--glass-border);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* shadow-2xl/20 (approximation) */
  color: rgba(255, 255, 255, 0.7); /* text-white/70 */
  width: fit-content; /* w-fit */
  cursor: pointer; /* cursor-pointer */
  backdrop-filter: blur(8px); /* backdrop-blur-sm */
  background: var(--glass-bg); /* bg-(--glass-bg) */ 
  transition: transform 0.3s ease; /* transition duration-300 */
  
  /* inset shadows */
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2),
              0 0 20px rgba(0, 0, 0, 0.2);
  }

.glass:hover {
  transform: scale(1.10); /* [&:hover]:scale-110 */
}